<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man United</title>
</head>
<body>
    <h1>Man United giành chiến thắng trước Norwich nhờ Ronaldo</h1><br/>
    <h2>Hat-trick của Cristiano Ronaldo giúp Man Utd thắng Norwich 3-2 ở vòng 32 Ngoại hạng Anh, tối 16/4.  Chiến thắng trước đội chót bảng mang ý nghĩa quan trọng cho hy vọng lọt 
        top bốn của "Quỷ đỏ", nhất là khi hai đối thủ cạnh tranh trực tiếp Tottenham và Arsenal đều thua những đội dưới cơ ở vòng này. Từ vị trí thứ bảy, Man Utd vươn lên thứ năm,
         bằng điểm Arsenal nhưng hơn hiệu số phụ. Đội chủ sân Old Trafford hiện kém đội thứ tư Tottenham ba điểm.</h2>
    <h2>So với trận thua Everton 0-1 vòng trước, Ralf Rangnick thay bốn vị trí. Đáng chú ý là điều chỉnh ở khu trung tuyến khi ông không dùng bất kỳ tiền vệ phòng ngự nào với Paul 
        Pogba, Bruno Fernandes và Jesse Lingard. Đá cao nhất là Ronaldo, Anthony Elanga và Jadon Sancho. Đội hình "siêu tấn công" này gợi nhớ những thử nghiệm tiền mùa giải hơn và 
        khiến nhiều người nghi ngờ, bởi hàng thủ Man Utd chưa chắc chắn.</h2><br/>

    <h2>Ngay phút thứ ba, khoảng trống phía trước hàng phòng ngự Man Utd bị Norwich tận dụng để phản công. Nhưng may cho đội chủ nhà là David De Gea đã xuất sắc trong pha đối mặt 
        Teemu Pukki. Bốn phút sau tình huống này, trung vệ Norwich Ben Gibson chơi như mơ ngủ, để Elanga cướp bóng trong vòng cấm trước khi chuyền dọn cỗ cho Ronaldo mở tỷ số. Đây
         là pha phối hợp thành bàn giữa hai cầu thủ Man Utd có cách biệt tuổi nhiều nhất trong lịch sử Ngoại hạng Anh. Ronaldo hơn Elanga 17 tuổi lẻ 81 ngày.</h2><br>
        
    <h2>Với đội hình không có tiền vệ phòng ngự thực thụ, Man Utd đá thoáng khi Paul Pogba, Jesse Lingard và Bruno Fernandes di chuyển rộng để hỗ trợ Jadon Sancho và Elanga ở hai
         cánh. Phút 17, Sancho tạt từ cánh trái cho Dalot băng vào dứt điểm. Nhưng, hậu vệ Bồ Đào Nha đá trượt tâm bóng. Năm phút sau, Sancho giữ bóng tinh tế ở rìa cấm địa, rồi 
         cứa lòng đưa bóng chệch cột xa. Khả năng đột phá của Sancho là điểm nhấn tấn công của Man Utd giữa hiệp một. Tiền vệ Anh thường xuyên mở ra các khoảng trống cho đồng đội 
         dứt điểm, nhưng Lingard và Fernandes không tận dụng được.</h2><br>
        
    <h2>Sức ép của Man Utd khiến hệ thống phòng ngự Norwich bối rối. Ngay sau tình huống bị Sancho đe dọa bằng cú đá cận thành, đội bét bảng thủng lưới lần thứ hai. Alex Telles 
        đá phạt góc, Ronaldo chạy cắt mặt đánh đầu đập đất hạ Tim Krul. Lần thứ hai mùa này Man Utd ghi bàn từ một tình huống phạt góc. Ronaldo thì có mùa thứ 16 liên tiếp cán mốc 20 bàn ở cấp CLB.</h2>

</body>
</html>